/* 價格方案 ============================================ */
.wrap_price_plan{
    padding: 60px 0;
}
.wrap_price_plan .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.wrap_price_plan .row:nth-child(3){
    flex-direction: row-reverse;
}
.wrap_price_plan .row .col{
    width: 80%;
    padding: 20px;
}
.wrap_price_plan .price_plan_pic{
    width: 100%;
}
.price_plan_title{
    margin-bottom: 25px;
}
.price_plan_title span{
    display: inline-block;
    font-size: 60px;
    color: var(--c-title-small);
    font-family: 'Caveat', cursive;
    margin-right: 10px;
}
.price_plan_title h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--c-title-sub);
    font-family: 'Noto Sans TC', sans-serif;
    display: inline-block;
}
.price_plan_date{
    color: var(--c-title-sub);
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: 'Noto Sans TC', sans-serif;
}
.price_plan_txt{
    letter-spacing: 2px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}
/* 拍攝地點加價 平板直/橫 md */
@media screen and (min-width:768px){
    .wrap_price_plan .row .col{
        width: 40%;
    }
}
/* 拍攝地點加價 平板橫、桌機 lg */
@media screen and (min-width:1024px){
    .wrap_price_plan .row .col{
        width: 45%;
    }
}

/* 加價項目 ============================================ */
.wrap_markup_items{
    padding: 60px 0;
}
.wrap_markup_items .row{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.wrap_markup_items .row .col{
    width: 80%;
    padding: 20px;
}
.wrap_markup_items .price_plan_pic{
    width: 100%;
}
/* 拍攝地點加價 平板直/橫 md */
@media screen and (min-width:768px){
    .wrap_markup_items .row .col{
        width: 40%;
    }
}
/* 拍攝地點加價 平板橫、桌機 lg */
@media screen and (min-width:1024px){
    .wrap_markup_items .row .col{
        width: 45%;
    }
}

/* 拍攝地點加價 ============================================ */
.wrap_location_price{
    padding: 60px 0;
}
.wrap_location_price .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.wrap_location_price .row .col{
    width: 80%;
    padding: 20px;
}
.wrap_location_price .price_plan_pic{
    width: 100%;
}
/* 拍攝地點加價 平板直/橫 md */
@media screen and (min-width:768px){
    .wrap_location_price .row .col{
        width: 40%;
    }
}
/* 拍攝地點加價 平板橫、桌機 lg */
@media screen and (min-width:1024px){
    .wrap_location_price .row .col{
        width: 45%;
    }
}

/* 加價商品 ============================================ */
.wrap_commodity{
    padding: 60px 0;
}
.wrap_commodity .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wrap_commodity .commodity_date{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 50px 0;
    color: var(--c-title-sub);
    font-family: 'Noto Sans TC', sans-serif;
}
.wrap_commodity .col{
    width: 40%;
    padding: 20px;
}
.commodity_pic{
    border-radius: 5%;
    overflow: hidden;
    margin-bottom: 10px;
}
.commodity_pic img{
    width: 100%;
}
.commodity_txt{
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    line-height: 24px;
}
/* 加價商品 平板直/橫 md */
@media screen and (min-width:768px){
    .wrap_commodity .col{
        width: 23%;
        padding: 0 30px 60px 30px;
    }
}
/* 加價商品 平板橫、桌機 lg */
@media screen and (min-width:1024px){
    .wrap_commodity .col{
        width: 26%;
        padding: 0 30px 60px 30px;
    }
}