/* 內頁 上標題 圖片 ====================== */
.inner_page{
    background: url(../imges/Photo_service.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* 拍攝服務 ============================================== */
.wrap_service{
    padding-top: 60px;
    padding-bottom: 60px;
}
.wrap_service .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 40px 0 0;
    margin: 0 auto;
}
.wrap_service .row .col{
    padding: 0 3em;
}
.service_icon{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 15px;
}
.service_txt h3{
    color: var(--c-title-sub);
    font-size: 1.2em;
    letter-spacing: .1em;
    font-family: var(--font-Noto);
    padding-bottom: 15px;
    text-align: center;
}

/* 棚內攝影 ============================= */
.wrap_studio_inside{
    padding-top: 60px;
    padding-bottom: 60px;
}
